@tailwind base;
@tailwind components;
@tailwind utilities;

.description-content ul {
    list-style-type: disc; /* Ensures bullets */
    padding-left: 1.5rem;  /* Indents bullet points */
}

.description-content ol {
    list-style-type: decimal; /* Ensures numbering */
    padding-left: 1.5rem;
}

.description-content li {
    margin-bottom: 0.5rem; /* Adds spacing between list items */
}

.description-content p {
    display: block; /* Ensures paragraphs are block-level elements */
}

.description-content {
    white-space: normal;
    white-space: pre-line; /* Keeps line breaks intact */
}
